.Header{
    font-family: 'Libre Baskerville', serif;
    background-color: #FFFFFF;
    min-height: 91px;
    display: flex;
    align-items: center;
}

.Header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.Header img {
    width: 200px;
    margin-left: 30px;
    cursor: pointer;
}

.Header p {
    font-size: 20px;
}

.Header ul {
    display: flex;
    margin-right: 10px;
}

.Header ul li {
    padding-inline: 20px;
    list-style-type: none;
}

.Header ul li a {
    text-decoration: none;
    color: black ;
}

.Header a.activeLink {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

@media all and (max-width: 600px) {
    .Header div {
        flex-direction: column;
        align-items: center;
    }

    .Header img {
        margin-top: 20px;
        width: 50%;
    }

    .Header ul li {
        padding-block: 20px;
    }
}
