.Footer {
  margin-top: auto;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15px 0;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #2c1810;
}

.MapBlock {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.MapBlock a {
  color: #796157;
}
.MapBlock img {
  width: 65px;
  margin-top: 5px;
  margin-right: 40px;
}
.MapBlock address p {
  margin: 5px 0;
}
.Footer p {
  margin: 3px 0;
}
.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: 10px 0;
}

.ContactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
}
.ContactBlock p {
  margin: 0 20px;
}
